.eventBennerContainer {
    width: auto;
    height: 350px;
    background-color: antiquewhite;

    margin-bottom: 50px;

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    overflow:hidden;
    margin:0 auto;

    position: relative;
}

.eventBennerContainer img{
    width:100%;
    height:100%;
    object-fit:cover;

    opacity: 60%;
    filter:brightness(85%)
}

.bennerTextCon {
    position: absolute;

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bennerTextT {
    margin: 0;
    margin-bottom: 10px;

    color: #FFFFFF;
    font-size: 60px;
    font-weight: bolder;

}

/*========================================*/

.eventAct {
    display: flex;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
    height: 70px;
}

.chooseContainer {
    display: flex;
}

/*========================================*/

.eventContainer {
    float: left;
}

.eventContainer td {
    overflow: hidden;
    position: relative;

}

.eventContainer img {
    width: 100%;
    height: 100%;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    display: block;
}

.eventContainer table {
    border: 1px solid #999999;
    border-collapse : separate;

    border-radius: 10px;

    width: 280px;

    margin-left: 10px;
    margin-right: 10px;
}

.eventDesc {
   padding: 15px;

   color: #4a4a49;
   font-size: 18px;
}

/*========================================*/

.eventFootContainer{
    margin-top: 20px;

    display: flex;
}

.eventSearchContainer {
    margin-right: auto;
}

.eventSearchContainer select{
    width: 75px;
    height: 45px;

    border: 1px solid #999999;
    border-radius: 3px;
    padding-left: 3px;

    margin-right: 5px;
}

.eventSearchContainer input{
    width: 170px;
    height: 43px;

    border: 1px solid #999999;
    border-radius: 3px;

    padding: 0;
    margin-right: 5px;
}

.eventSearchContainer button{
    width: 60px;
    height: 45px;

    border: 0;

    font-size: 15px;
    background-color: #e2e2e2;
}

.eventPageContainer {
    float: right;


}

.eventPageContainer > button{
    width: 45px;
    height: 45px;

    margin-right: 5px;
    
    font-size: 15px;
    background-color: #FFFFFF;
    border: 1px solid #999999;
    border-radius: 3px;

}

.eventPageContainer .pagePastB{
    width: 60px;
    height: 45px;

    margin-right: 5px;
}

.eventPageContainer .pageNextB {
    width: 60px;
    height: 45px;
    
    margin: 0;
}

.eventPageContainer .choosenPase{
    background-color: #e2e2e2;
    border: 0;
}



/* 이벤트 페이지 css */
.이벤트페이지상단{
    height: 70px;

    display: flex;
    align-items: center;

    border-bottom: solid 1px #ccc;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
}
    .이벤트페이지생사{
        height: 25px;
        width: 50px;

        font-size: 14px;
        background-color: #5991d1;
        color: white;

        border-radius: 5px;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-right: 8px;
    }

    .이벤트페이지제목 {
        font-weight: bold;
        font-size: 18px;

        color: #2c2c2c;
    }

    .이벤트페이지기간 {
        margin-left: auto;
    }

.이벤트페이지중앙 > img{
    width: 100%;
}

.이벤트페이지하단 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 10px;
}

.목록글 {
    width: 100%;
    height: 50px;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    display: flex;
    align-items: center;
}

    .목록글 > p {
        padding-left: 10px;
        padding-right: 50px;
        font-size: 17px;
        color: #4a4a49;
    }

.이벤트페이지하단 > button {
    width: 230px;
    height: 40px;
    font-size: 16px;
    font-weight: lighter;
    border: none;
    border-radius: 5px;
    background-color: #5991d1;
    color: white;
    margin-top: 20px;
}
