.native1-image-circle {
  width: 150px; /* 원형 모양을 위한 너비 설정 */
  height: 150px; /* 원형 모양을 위한 높이 설정 */
  border-width: 1px;
  border-color: #ccc;
  border-style: solid;
  border-radius: 50%; /* 원형 모양으로 만들기 */
  margin: 25px auto 25px; /* 위쪽 여백을 25px로 설정하고, 아래쪽 여백도 25px로 설정 */
  padding: 20px;
  display: flex;
}

.native1-login-box {
  border-width: 1px;
  border-color: #ccc;
  border-style: solid;
  width: 500px;
  height: 1456px;
  display: block;
  margin: 0 auto;
  border-radius: 10px; /* 테두리의 궁글거리게 설정 */
  padding: 20px; /* 내부 여백 설정 */
}
 .native1-check-btn{
  margin: 0 auto; /* 가운데 정렬을 위한 마진 설정 */
  width: 350px;
  height: 50px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 15px;
  margin-bottom: 50px;
}
  
.native1-basic-bar{
  width: 350px;
  height: 50px;
  display: flex;
  align-items: center;
  border: solid 1px #ccc;
  border-radius: 15px;
  padding-left: 10px;
  margin-bottom: 50px;
}
  
.native1-id-bar{
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  border: solid 1px #ccc;
  border-radius: 15px;
  padding-left: 10px;
  margin-bottom: 50px;
}
  
.native1-info-box{
  border-width: 1px;
  border-color: #ccc;
  border-style: solid;
  border-style: solid;
  width: 400px;
  overflow-y: auto;
  height: 400px;
  display: block;
  margin: 0 auto;
  border-radius: 10px; /* 테두리의 궁글거리게 설정 */
  padding: 20px; /* 내부 여백 설정 */
}

.bank_list{
  width: 350px;
  height: 50px;
  display: flex;
  align-items: center;
  border: solid 1px #ccc;
  border-radius: 15px;
  padding-left: 10px;
  margin-bottom: 50px;
}