.main {
  width: 100%; 
  display: flex; 
  justify-content: space-between;
}

.left-menu {
  width: 24%; 
  display: flex; 
  align-items: center; 
  flex-direction: column;
}

.map-menu {
  width: 100%; 
  background-image: url('https://dimg.donga.com/wps/NEWS/IMAGE/2019/12/25/98961520.1.jpg'); 
  background-size: cover; 
  height: 120px; 
  border-radius: 10px; 
  border: solid 1px #ccc; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  flex-direction: column;
}

.map-menu > i {
  color: tomato; 
  margin-bottom: 15px;
}

.local-cart {
  width: 100%; 
  margin-top: 50px; 
  border-radius: 10px; 
  border: solid 1px #ccc;
}

.local-cart > p {
  margin-left: 16px;
}

.local-opt {
  width: 100%; 
  margin-top: 50px;
}

.local-opt > hr {
  margin: 20px auto;
}

.right-menu {
  width: 74%;
}

.sort-menu {
  width: 100%; 
  border-radius: 10px; 
  border: solid 1px #ccc; 
  padding: 20px; 
  box-sizing: border-box;
}

.sort-menu > h4 {
  margin: 0;
}

.result-container {
  margin-top: 50px; 
  display: flex; 
  justify-content: space-between; 
  flex-wrap: wrap;
}

.result-obj {
  width: 32%; 
  height: 400px; 
  margin-bottom: 20px; 
  display: flex; 
  flex-direction: column;
}

.result-obj > div:first-child {
  background-size: cover; 
  width: 100%; 
  height: 280px; 
  border-radius: 15px; 
  padding: 15px; 
  box-sizing: border-box; 
  display: flex; 
  justify-content: flex-end;
}

.result-obj > div:first-child > div > i {
  color: white;
}

.result-obj > div:not(:first-child) {
  padding: 10px; 
  box-sizing: border-box;
}

.result-obj > div:not(:first-child) > p {
  margin: 5px auto;
}

.result-obj > div:not(:first-child) > p > i {
  color: gold;
}

.result-page {
  width: 100%; 
  text-align: center;
}